{% extends 'base.html' %}

{% block start %}



<!-- Page content-->
<div class="container mt-5">

    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
    {% endif %}

    
    <div class="row">
        <!-- Post content-->
        <section>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{blog_object.title}}</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">{{blog_object.created_at}}</div>
            </header>
            <!-- Preview image figure-->
            <figure class="mb-4"><img class="img-fluid rounded" src="/media/{{blog_object.image}}" alt="..." />
            </figure>
            <!-- Post content-->
            <section class="mb-5">
                <p class="fs-5 mb-4">{{blog_object.content|safe }}</p>

            </section>
        </section>

        <!-- Comments section-->
        <div class="container card-body ">
            <h2>Comments</h2>
            <form class="form-control d-grid mt-3 my-5 text-bg-dark" method="post">

                {% csrf_token %}



                <input type="text" name="comment" placeholder="Enter comment here">
                <button class="btn btn-outline-light mt-2" type="submit" value="submit">Comment</button>

            </form>


            <!-- Displaying -->

            <div class="container text-bg-dark">
                {% for com in comment %}
                <div class="list-group">
                    <ul class="list-group">
                        <li class="list-group-item">{{com.comment}}</li>
                        <div class="small text-muted">{{com.created_at}} | by {{com.user.username}}</div>
                    </ul>
                </div>
                {% endfor %}
            </div>

            

        </div>
    </div>
</div>


{% endblock %}