{% extends 'base.html' %}

{% block start %}



<!-- Page content-->
<div class="container">
    <div class="row mt-2">
        <!-- Blog entries-->
        <div class="col-lg-8">

            <!-- Nested row for non-featured blog posts-->
            <div class="row-cols-2">
                <div class="col-lg-4 shadow-lg">
                    <!-- Blog post-->
                    {% for blog in blogs %}
                    <div class="card mb-4">
                        <a href="{% url 'blog_detail' blog.slug %}"><img class="card-img-top"
                                src="/media/{{blog.image}}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{blog.created_at}} | by {{blog.user.username}}</div>
                            <h2 class="card-title h4">{{blog.title}}</h2>
                            <p class="card-text">{{blog.content|safe |truncatewords:4}}</p>
                            <a class="btn btn-outline-info" href="{% url 'blog_detail' blog.slug %}">Read more →</a>
                             <div class="bd-example m-2 border-0">
                                <button type="button" class="btn btn-primary btn-sm">Like</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comment</button>
                                <button type="button" class="btn btn-success btn-sm">Share</button>
                                </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav>
        </div>

    </div>
</div>





{% endblock %}